@charset "urf-8";

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../css/font/Pretendard/Pretendard-Bold.eot');
    src: url('../css/font/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../css/font/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../css/font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../css/font/Pretendard/Pretendard-SemiBold.eot');
    src: url('../css/font/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../css/font/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../css/font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../css/font/Pretendard/Pretendard-Regular.eot');
    src: url('../css/font/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../css/font/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../css/font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../css/font/Pretendard/Pretendard-Medium.eot');
    src: url('../css/font/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../css/font/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../css/font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

body{
    width: 1920px;
}


.header{
    width: 1920px;
    margin: 30px auto;
}

.header h1 a{
    width: 1003px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header h1 a img{
    width: 137px;
    height: 37px;
}

.nav{
    width: 1003px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    color: #333333;

}

.section_2{
    width: 1280px;
    height: 848px;
    margin: 30px auto;
}

.section_2 .img_wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 28px;
    margin-bottom: 100px;
}

.section_2 .img_wrap .img_box {
    width: 626px;
    height: 360px;
    position: relative;
}

.section_2 .img_wrap .img_box img{
    width: 626px;
    height: 360px;
    object-fit: cover;
}

.section_2 .img_wrap .text_box{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    color: #ffffff;
    padding: 32px;
    box-sizing: border-box;
}

.section_2 .img_wrap .text_box h2{
    width: 235px;
    font-size: 30px;
    font-family: 'Pretendard-Bold';
    line-height: 1.3;
}

.section_2 .img_wrap .text_box p{
    font-size: 18px;
    line-height: 1.3;
    font-family: 'Pretendard-Regular';
    margin-top: 25px;
}

.section_3 {
    width: 1920px;
    background-color: #f5f5f5;
    padding: 100px;
    box-sizing: border-box;
}

.section_3 .section_3_1 {
    width: 1280px;
    margin: 0 auto;
}

.section_3 .section_3_1 .item_wrap{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    

}

.section_3 .section_3_1 .item_wrap .left_box{
    width: 735px;
    height: 400px;
}

.section_3 .section_3_1 p{
    font-family: 'Pretendard-Regular';
    font-size: 36px;
    color: #333333;
    margin-bottom: 39px;
    width: 1280px;
}

.section_3 .section_3_1 p span{
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    color: #333333;
}

.section_3 .section_3_1 .item_wrap .left_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_3 .section_3_1 .item_wrap .right_box{
    width: 517px;
    height: 400px;
}

.section_3 .section_3_1 .item_wrap .right_box .colorbox{
    width: 123px;
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
}

.section_3 .section_3_1 .item_wrap .right_box .colorbox .blue{
    width: 76px;
    height: 24px;
    background-color: #5778bb;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    border-radius: 3px;
    display: block;
    text-align: center;
    line-height: 24px;
}

.section_3 .section_3_1 .item_wrap .right_box .colorbox .purple{
    width: 39px;
    height: 24px;
    background-color: #efe5f6;
    color: #a03fe4;
    font-size: 14px;
    font-family: 'Pretendard-Regular';
    border-radius: 3px;
    display: block;
    text-align: center;
    line-height: 24px;
}

.section_3 .section_3_1 .item_wrap .right_box p{
    color: #333333;
    font-family: 'Pretendard-Medium';
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.section_3 .section_3_1 .item_wrap .right_box .check{
    color: #ff5c46;
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    margin-bottom: 30px;
}

.section_3 .section_3_1 .item_wrap .right_box .price {
    color: #333333;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
}

.section_3 .section_3_1 .item_wrap .right_box .price strong{
    font-family: 'Pretendard-Bold';
    font-size: 30px;
}

.section_4 .section_4_1{
    width: 1280px;
    /* height: 746px; */
    margin: 100px auto ;
    /* padding: 100px 0;
    box-sizing: border-box; */
}

.section_4 .section_4_1 .top_line {
    width: 1280px;
    height: 33px;
    line-height: 33px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section_4 .section_4_1 .top_line h2{
    font-family: 'Pretendard-Bold';
    font-size: 36px;
    color: #333333;
}

.section_4 .section_4_1 .top_line .num{
    width: calc(100% / 2);
    display: flex;
    justify-content: space-between;
    font-family: 'Pretendard-Regular';
    font-size: 18px;

}

.section_4 .section_4_1 .top_line .num li:first-child{
    font-family: 'Pretendard-Bold';
}

.section_4 .section_4_1 .list_box{
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 194px;
}

.section_4 .section_4_1 .list_box .list_item{
    width: 299px;
    height: 100%;
}

.section_4 .section_4_1 .list_box .list_item img{
    width: 299px;
    height: 200px;
    object-fit: cover;
}

.section_4 .section_4_1 .list_box .list_item .list_text{
    margin-top: 20px;
}

.section_4 .section_4_1 .list_box .list_item .list_text h5{
    font-family: 'Pretendard-SemiBold';
    font-size: 20px;
    color: #333333;
    line-height: 1;
}

.section_4 .section_4_1 .list_box .list_item .list_text p{
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    color: #555555;
    margin-top: 16px;
} 

.section_4 .section_4_1 .list_box .list_item .list_text .price{
    text-align: right;
    margin-top: 30px;
}

.section_4 .section_4_1 .list_box .list_item .list_text .price strong{
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    color: #333333;
}

.section_4 .section_4_1 .list_box .list_item .list_text span{
    background-color: #e6f2fb;
    display: block;
    width: 299px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    color: #555555;
    margin-top: 20px;
    padding-left: 12px;
    box-sizing: border-box;
}
